<p id="notice"><%= notice %></p>

<p>
  <strong>FirstName:</strong>
  <%= resource.firstname %>
</p>
<p>
  <strong>LastName</strong>
  <%= resource.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= resource.email %>
</p>


<%= link_to 'Edit', edit_user_path %>
<%= link_to 'Home', root_path %>
